body{
    font-family: 'Lato', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.mybackground {
background: url(../public_html/images/graphic.jpeg) no-repeat center center fixed;
    background-size: cover;
}